/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2020, 3:10:00 AM
    Author     : Owner
*/
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

h1{
    font-size:10vw;
    text-align:center;
    font-family:Lucida Bright;
    border:10px solid rgb(78, 225, 174);
    border-style: dashed;
    border-radius: 5px;
}

/*use vw to resixe text according to the size of the browser*/
/*use em or percent to resize text according to the browser*/
body.generic{
    background-color: rgba(235, 44, 212, 0.4);
    background-image: url(Images/kisspng-natural-resource-nature-science-natural-5abbf50e0fdee3.749224941522267406065.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   background-size: 40% 60%;
   
}
/*Use repeat-x if you want the image to repeat horizontally and vice versa for it to repeat vertically*/
/*<div> is only used if you want to cover specific areas with a background image*/
/*<picture> is used to display an image depending on the device's screen size*/
#body1{
      background-color: rgba(235, 44, 212, 0.4);
}
img.center{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

/*Set margins to auto to horizontally center element*/            
            
a.meat:link{
    background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
        }
        
        a.meat:hover{
            background-color: green;
        }
        a.email:link{
            text-decoration: none;
        }
        a.email:hover{
            color: red;
            text-decoration: underline;
        }   
        #p1{
            float: left;
            max-width: 30px;
            max-height: 30px;
        }
        table.table{
            font-size: 20px;
            display: block;
            margin-left: auto;
            margin-right:auto;
        }
        th, td{
            max-width: 75%;
            font-size: 20px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td{
            padding: 15px;
               text-align: left;
        }
        table.table tr:nth-child(even) {
  background-color: #eee;
}
table.table tr:nth-child(odd) {
 background-color: #fff;
}
table.table th {
  background-color: black;
  color: white;
}

tr:hover .table {
    background-color: aqua;
}

ul, ol{
    width: 20%;
    height: 20%;
    font-size: 22px;
     display: inline-block;
/*    vertical-align: top;
    padding-left: 0;    */
}
/*Put inlne-block if you want to display elements on the same line*/
li.list{
    list-style-type: disc; 
}
ul.nav {
  list-style-type: none;
  width: 80%;
  height: 80%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
/*margin is for space outside the element but padding is for the space inside the element*/
li.nav {
  float: left;
}

li.nav a.nav {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li.nav a.nav:hover {
  background-color: #111111;
}
#iframe1{
    height:600px;
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
}
div.boxmodel{
    font-size: 1.8vw;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    border: blueviolet solid 5px;
    max-width: 500px;
    max-height: 730px;
    outline: crimson solid 3px;
}
img.bttf{
    margin-left: 78px;
    max-width: 750px;
    max-height: 350px;
    display: block;
}

div.fixedelem{
    border: 2px solid green;
    background-color: greenyellow;
    color: black;
    width: 120px;
    text-align: center;
    bottom: 0;
    right: 0;
    position: fixed;
}
/*absolute positioned divs will be placed within the nearest ancestor div*/
/*For absolute position, give z-stack property a negative or positive value to determine if the element will be in front or behind the ancestor element*/
/*For position, always remember to specify the top, bottom, right or left*/
div.stickyelem{
    border: 2px solid green;
    background-color: greenyellow;
    color: black;
    width: 300px;
    text-align: center;
    top: 0;
    left: 0;
    position: -webkit-sticky;
    position: sticky;
}

img.haram{
    float:right;
    max-width: 100px;
    max-height: 100px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/*clearfix class is to save some space for the bottom of the <div>*/
div.box{
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 40px;
}

div.align {
    box-sizing:border-box;
    max-width:57.3%;
    display:flex;
/*    margin-left:10px;*/
    margin-bottom:30px;
    border: solid 4px chartreuse;
    overflow:auto;
    transform: translate(31%,0);
    /*transform can also be used to align an element without needing to connfigure the size*/
}
img.imgalign{
    float:left;
    max-width:200px;
    max-height:200px;
}
p.p_align{
    transform: translate(0%,0);
    display:inline-block;
}
p.display{
    display: none;
    background-color: darkmagenta;
    padding: 25px;
}
div.display:hover p {
    oveflow:auto;
    width: 70%;
    display: block;
}
/*Use p:first-child to customize the first <p> element*/
/*Use pseudo elements to customize elements on the page*/
q:lang(no){
    quotes: "~" "!!";
}       

ul.navbar{
    list-style-type:none;
    background-color: #bbb;
    margin:0;
    padding:0;
    positon:fixed;
    max-height: 30%;
    max-width: 20%;
    overflow:hidden;
}
li.navbar a{
    font-size: 16px;
    color: #111111;
    display: block;
    padding: 8px 16px;
    margin-bottom:0;
    text-decoration: none;
    text-align:center;
}
dv.bg li.navbar a:hover:not(.navbar){
    background-color: black;
    color: red;
}

