/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 23, 2020, 11:31:59 PM
    Author     : Owner
*/

div.red{
    background-color: grey;
    display: inline-block;
    max-width: 8%;
    padding: 0.5%;
}
a.a-red{
    text-decoration: none;
    color: activeborder;
    text-align: center;
}
div.red:hover{
    background-color: red;
}
ul.seven{
    list-style-type: square;
}
.btn-group button{
    display: flex;
    background-color: #4CAF50;
  border: 1px solid green; 
  color: white; 
  padding: 0.6vw 1.25vw; 
  cursor: pointer; 
  float: left; 
}
.btn-group:after {
    /* Clear floats for the subsequent element*/
  content: "";
  clear: both;
  display: table;
}
