/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 23, 2020, 11:31:59 PM
    Author     : Owner
*/

div.red{
    background-color: grey;
    display: inline-block;
    max-width: 8%;
    padding: 0.5%;
}
a.a-red{
    text-decoration: none;
    color: activeborder;
    text-align: center;
}
div.red:hover{
    background-color: red;
}
ul.seven{
    list-style-type: square;
}
.btn-group button{
    display: flex;
    background-color: #4CAF50;
  border: 1px solid green; 
  color: white; 
  padding: 0.6vw 1.25vw; 
  cursor: pointer; 
  float: left; 
}
.btn-group:after {
    /* Clear floats for the subsequent element*/
  content: "";
  clear: both;
  display: table;
}

@keyframes move{
    0% {
        left: 0%;
    }
    50% {
        left: 50%;
    }
    100% {
        left: 0%;
    }
}

@keyframes hide {
    0% {
       opacity: 1; 
       height: 100%;
       line-height: 100%;
       padding: 20px;
       margin-bottom: 10px;
       margin-top: 20px;
    }
    
    75%{
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    
    100%{
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

#demo{
    position: relative;
    animation-name: move;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    animation-delay: 3s;
}

div.parent{
    background-color: #4CAF50;
    padding: 2vw 1.25vw;
    margin: 2vw;
    font-size: 18px;
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}


